.course {
  margin-bottom: 100px;

  @include tablet {
    margin-bottom: 80px;
  }

  @include small-tablet {
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    @include tablet {
      flex-direction: column-reverse;
    }


  }

  &__content {
    display: flex;
    flex: 0 0 870px;
    flex-direction: column;
    align-items: flex-start;

    @include big-desktop {
      flex: 0 0 680px;
    }

    @include laptop {
      flex: 0 0 580px;
    }

    @include medium-desktop {
      flex: 0 0 55%;
    }

    @include tablet {
      flex: 0 0 55%;
    }

    @include small-tablet {
      flex: none;
      width: 100%;
    }
  }

  &__title {
    margin: 0 0 20px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 95%;
    text-transform: uppercase;
    color: var(--color-dark);

    @include laptop {
      font-size: 40px;
    }

    @include medium-desktop {
      font-size: 36px;
    }

    @include tablet {
      font-size: 36px;
    }

    @include small-tablet {
      font-size: 20px;
    }
  }

  &__desc {
    margin: 0 0 30px;
    max-width: 621px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.02;
    color: var(--color-dark);

    @include tablet {
      font-size: 20px;
    }

    @include small-tablet {
      font-size: 18px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__images {
    display: flex;
    margin-top: 80px;
    gap: 20px;



    @include tablet {
      display: none;
    }

    @include small-tablet {
      flex-wrap: wrap;
      margin-top: 30px;
      gap: 12px;
    }

    @include mobile {
      gap: 8px;
    }
  }

  &__img-item {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 40px;
    width: 277px;
    height: 277px;

    @include laptop {
      width: 178px;
      height: 178px;
    }

    @include tablet {
      width: 178px;
      height: 178px;
    }

    @include small-tablet {
      flex-shrink: 1;
      width: calc(50% - 6px);
      height: 180px;
    }

    @include mobile {
      height: 150px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;


    }
  }

  &__visual {
    position: relative;
    flex: 1;
    min-height: 748px;
    pointer-events: none;

    @include laptop {
      position: static;
      width: 100%;
      height: 550px;
      min-height: auto;
    }


    @include small-tablet {
      height: 350px;
    }
  }

  &__grass {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;

    @include laptop {
      position: static;
      object-fit: contain;
    }
  }

  &__bottle {
    position: absolute;
    left: 0;
    top: -60px;
    z-index: 1;
    width: 100%;
    height: auto;
    max-width: 833px;
  }

  &__ladybug {
    position: absolute;
    right: 80px;
    bottom: 200px;
    z-index: 2;
  }
}
