.footer {
  padding: 60px 0 50px;
  background: var(--color-white);

  @include tablet {
    padding: 50px 0 40px;
  }

  @include small-tablet {
    padding: 40px 0 30px;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    gap: 110px;

    @include big-desktop {
      gap: 80px;
    }

    @include laptop {
      gap: 60px;
    }

    @include medium-desktop {
      gap: 40px;
    }

    @include tablet {
      gap: 60px;
    }

    @include small-tablet {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
  }

  &__brand {
    display: flex;
    flex: 0 0 360px;
    flex-direction: column;
    gap: 165px;

    @include medium-desktop {
      flex: 0 0 260px;
      gap: 100px;
    }

    @include tablet {
      flex: 0 0 220px;
      gap: 60px;
    }

    @include small-tablet {
      flex: none;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 0;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }
  }

  &__logo {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    font-family: var(--font-angst);
    font-weight: 400;
    font-size: 48px;
    line-height: 1.02;
    text-decoration: none;
    color: var(--color-red);

    span {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 20px;
      line-height: 102%;
      letter-spacing: 1.12em;
      text-transform: uppercase;
      color: #e93922;

      @include laptop {
        font-size: 18px;
        letter-spacing: 0.84em;
      }

      @include small-tablet {
        font-size: 16px;


      }

      @include mobile {
        font-size: 13px;
        letter-spacing: 0.48em;
      }
    }

    @include laptop {
      font-size: 36px;
    }

    @include tablet {
      font-size: 36px;
    }

    @include small-tablet {
      flex: 1;
      flex-shrink: 1;
      font-size: 32px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__socials {
    display: flex;
    gap: 10px;
  }

  &__social {
    flex-shrink: 0;
    width: 34px;
    height: 34px;
    background-size: cover;
    transition: all 0.3s ease-in-out;

    &:nth-child(1) {
      background-image: url("../img/social-1.svg");


    }

    &:nth-child(2) {
      background-image: url("../img/social-2.svg");

    }

    &:nth-child(3) {
      background-image: url("../img/social-3.svg");

    }

    &:nth-child(4) {
      background-image: url("../img/social-4.svg");


    }

    &:nth-child(5) {
      background-image: url("../img/social-5.svg");


    }
  }

  &__cols {
    display: flex;
    flex: 1;
    gap: 214px;

    @include big-desktop {
      gap: 120px;
    }

    @include laptop {
      justify-content: space-between;
      gap: 80px;
    }

    @include medium-desktop {
      gap: 40px;
    }

    @include tablet {
      gap: 40px;
    }

    @include small-tablet {
      flex-direction: column;
      width: 100%;
      gap: 24px;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    @include small-tablet {
      align-items: center;
      justify-content: center;
    }
  }

  &__col-title {
    margin: 0 0 30px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 1.02;
    color: var(--color-dark);

    @include medium-desktop {
      font-size: 22px;
    }

    @include tablet {
      font-size: 20px;
    }

    @include small-tablet {
      margin-bottom: 16px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__nav,
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__nav-link,
  &__contacts-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.02;
    text-decoration: none;
    color: var(--color-dark);
    transition: color 0.2s;

    @include medium-desktop {
      font-size: 18px;
    }

    @include tablet {
      font-size: 16px;
    }

    @include small-tablet {
      text-align: center;
    }

    @include mobile {
      font-size: 16px;
    }

    &:hover {
      color: var(--color-blue);
    }
  }

  &__map {
    overflow: hidden;
    border-radius: 40px;
    height: 263px;

    iframe {
      scale: 1.01;
    }

    @include laptop {
      width: 100%;
      max-width: 300px;
    }

    @include tablet {}

    @include small-tablet {
      width: 100%;
      height: 220px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.footer-bottom {
  height: 64px;
  background: var(--color-green);

  @include small-tablet {
    height: auto;
  }

  .container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 80px;

    @include tablet {
      gap: 40px;
    }

    @include small-tablet {
      flex-wrap: wrap;
      padding-top: 14px;
      padding-bottom: 14px;
      gap: 10px 30px;
    }
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.02;
    text-decoration: none;
    color: var(--color-white);
    transition: opacity 0.2s;

    @include laptop {
      font-size: 20px;
    }

    @include tablet {
      font-size: 18px;
    }

    @include small-tablet {
      width: 100%;
      font-size: 16px;
      text-align: center;
    }

    &:hover {
      opacity: 0.85;
    }
  }
}
