.why {
  margin-bottom: 140px;

  @include tablet {
    margin-bottom: 80px;
  }

  @include small-tablet {
    margin-bottom: 60px;
  }

  &__title {
    margin: 0 0 60px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 95%;
    text-transform: uppercase;
    color: var(--color-dark);

    @include laptop {
      font-size: 40px;
    }

    @include medium-desktop {
      font-size: 36px;
    }

    @include tablet {
      margin-bottom: 40px;
      font-size: 36px;
    }

    @include small-tablet {
      margin-bottom: 24px;
      font-size: 20px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.why-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  padding: 25px;
  min-height: 540px;
  text-align: center;
  background: var(--color-white);

  @include medium-desktop {
    min-height: 406px;
  }

  @include tablet {
    min-height: 420px;
  }

  @include small-tablet {
    padding: 20px;
    min-height: auto;
  }

  &__title {
    align-self: stretch;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 109%;
    text-transform: uppercase;
    color: var(--color-dark);


    @include laptop {
      font-size: 20px;
    }

    @include small-tablet {
      font-size: 20px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__img {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 20px 0;



    img {
      display: block;
      height: auto;
      max-width: 100%;
      object-fit: contain;

      @include mobile {
        height: 120px;
      }

    }
  }

  &__desc {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.02;
    color: var(--color-dark);

    @include laptop {
      font-size: 16px;
    }

    @include small-tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 14px;
    }
  }
}
